/**used this font for a more robotic feel for the chatbot**/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/** applying general css settings **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

/** beginning to diverge more from tutorial to build more with my tastes and to ensure i properly understand
what im building **/

body {
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 450px;
    height: 600px;
    background: pink;
    backdrop-filter: blur(10px);
    border: 1px solid rgb(196, 55, 193);
    border-radius: 10px; 
    padding-top: 10px;
    box-shadow: 0 8px 32px 0 black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    background: rgb(0, 0, 0, 0.09);
    color: whitesmoke;
    padding: 15px;
    text-align: center;
    text-shadow: 0 0 5px;
}

.chat-box {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    background: transparent;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    line-height: 1.4;
    box-shadow: 0 1px 3px whitesmoke;
}

.user-message {
    background: #E1D9D1;
    color: salmon;
    align-self: flex-end;
    margin-left: auto;
}

.bot-message {
    background: salmon;
    color: #E1D9D1;
    align-self: flex-start;
}
.input-area {
    display: flex;
    padding: 10px;
    background: rgb(255, 140, 105, 0.7);
}

#user-input {
    flex: 1;
    padding: 10px;
    border: 1px groove white;
    border-radius: 10px;
    background: pink;
    outline: none;
    border-radius: 8px;
}

#send-btn {
    background: salmon;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

#send-btn:hover {
    background: RGB(250, 80, 83)
}